# =========================
# Gradle
# =========================
.gradle/
build/
**/build/

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.ipr
*.iws

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs & recordings
# =========================
*.log
*.jfr

# =========================
# Environment files
# =========================
.env
.env.*

# =========================
# Temp files
# =========================
*~
*.swp
*.tmp
